<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

 <xacro:if value="$(arg imu_enable)">
  <gazebo reference="imu_link">
    <gravity>true</gravity>
    <sensor name="imu_sensor" type="imu">
      <always_on>true</always_on>
      <update_rate>100</update_rate>
      <visualize>true</visualize>
      <topic>imu</topic>
      <pose>0 0 0 0 0 0</pose>
      <gz_frame_id>imu_link</gz_frame_id>
      <xacro:if value="$(arg noise)">
        <imu>
          <angular_velocity>
            <x>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>2e-4</stddev>
                <bias_mean>0.0000075</bias_mean>
                <bias_stddev>0.0000008</bias_stddev>
              </noise>
            </x>
            <y>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>2e-4</stddev>
                <bias_mean>0.0000075</bias_mean>
                <bias_stddev>0.0000008</bias_stddev>
              </noise>
            </y>
            <z>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>2e-4</stddev>
                <bias_mean>0.0000075</bias_mean>
                <bias_stddev>0.0000008</bias_stddev>
              </noise>
            </z>
          </angular_velocity>
          <linear_acceleration>
            <x>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>1.7e-2</stddev>
                <bias_mean>0.1</bias_mean>
                <bias_stddev>0.001</bias_stddev>
              </noise>
            </x>
            <y>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>1.7e-2</stddev>
                <bias_mean>0.1</bias_mean>
                <bias_stddev>0.001</bias_stddev>
              </noise>
            </y>
            <z>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>1.7e-2</stddev>
                <bias_mean>0.1</bias_mean>
                <bias_stddev>0.001</bias_stddev>
              </noise>
            </z>
          </linear_acceleration>
        </imu>
      </xacro:if>
    </sensor>
   </gazebo>
  </xacro:if>

  <gazebo reference="base_link">
    <material>Gazebo/White</material>
    <gravity>true</gravity>
  </gazebo>

  <xacro:include filename="$(find mirte_master_description)/urdf/wheel.gazebo.xacro" />

  <xacro:wheel_gazebo id="front_left" />
  <xacro:wheel_gazebo id="rear_left" />
  <xacro:wheel_gazebo id="front_right" />
  <xacro:wheel_gazebo id="rear_right" />

  <xacro:include filename="$(find mirte_master_description)/urdf/ros2_control.xacro"/>  

</robot>
