<?xml version="1.0"?>
<!-- TODO: is this file used/reference somewhere? -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="diffdrive_robot">
    <xacro:property name="yaml_param_file" value="$(find mirte_base_control)/config/control_master.yaml"/>
    <xacro:property name="params" value="${xacro.load_yaml(yaml_param_file)}"/>

<xacro:macro name="wheel" params="name prefix">

        <joint name="${prefix}${name}_wheel_joint" type="continuous">
      <parent link="${prefix}base_link"/>
      <child link="${prefix}${name}_wheel"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <axis xyz="0 1 0"/>
      <dynamics damping="0.2"/>
    </joint>

    <!-- left wheel Link -->
    <link name="${prefix}${name}_wheel">
</link>
</xacro:macro>

<xacro:macro name="joint" params="name prefix">
      <joint name="${prefix}${name}_wheel_joint">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
</xacro:macro>

  <xacro:arg name="prefix" default="" />
    <link name="base_link">
</link>
<!-- same ordering as the mecanum drive controller -->
        <xacro:wheel name="front_left" prefix="$(arg prefix)" />
        <xacro:wheel name="rear_left" prefix="$(arg prefix)" />
        <xacro:wheel name="rear_right" prefix="$(arg prefix)" />
        <xacro:wheel name="front_right" prefix="$(arg prefix)" />

   <ros2_control name="mecanumdrive" type="system">
      <hardware>
        <plugin>mirte_base_control/MirteBaseHWInterface</plugin>
        <param name="ticks">${params['ticks']}</param>
        <param name="separate_update_format">${params['separate_update_format']}</param>
        <!-- Use %s in format strings to replace with joint names -->
        <param name="single_update_name">${params['single_update_name']}</param>
        <param name="encoder_topic_format">${params['encoder_topic_format']}</param>
        <param name="use_topic_update">${params['use_topic_update']}</param>
        <param name="use_single_update">${params['use_single_update']}</param>
        <param name="cmd_vel_deadzone">${params['cmd_vel_deadzone']}</param>
        <param name="cmd_vel_update_deadzone">${params['cmd_vel_update_deadzone']}</param>
        <param name="max_rot_speed">${params['max_rot_speed']}</param>
      </hardware>
      <xacro:joint prefix="$(arg prefix)" name="front_left"  />
      <xacro:joint prefix="$(arg prefix)" name="front_right"  />
      <xacro:joint prefix="$(arg prefix)" name="rear_left"  />
      <xacro:joint prefix="$(arg prefix)" name="rear_right"  />
    </ros2_control>

</robot>
