<launch>
    <rosparam command="load" file="$(find mirte_control_master)/config/control.yaml" />

    <node name="controller_spawner" pkg="controller_manager" type="spawner"
        args="mobile_base_controller" />

    <node pkg="mirte_control_master" type="mirte_control_master_node"
        name="mirte_control_master_node" output="screen">
    </node>
    <node pkg="mirte_control_master" type="mock.py"
        name="mirte_control_master_mock" output="screen"/>
</launch>
  